@media (min-width: 1016.1px) {

  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  body {
    background-color: white;
    font-family:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 300;
  }

  .logo {
    position: relative;
    right: 1em;
    padding-left: 1em;
  }
  .nav-top {
    display: block;
  }
  .nav-side {
    display: none;
  }
  .nav-side-link {
    display: none;
  }


  .nav-search {
    position: absolute;
    width: 16%;
    right: 10%;
    top: 10px;
  }

  .nav-logo {
    position: absolute;
    left: 26px;
    z-index: 100;
  }

  .nav-logo a {
    color: #B8B9BD;
  }
  .nav-search-btn {
    position: relative;
    left: 100%;
    bottom: 38px;
    margin-left: 10px;
  }


  .layui-carousel {
    height: 1000px;
  }

  .service-part:hover {
    color: #837024;
  }




  .service-img {
    width: 8em;
    height: 8em;
  }

  .false-logo {
    z-index: -100;
  }

  footer {
    height: 200px;
    background-color: #252d38;
    padding-top: 30px;
  }

  .footer-msg {
    text-align: center;
    padding-top: 20px;
  }

  .footer-msg h3 {
    padding: 20px 0;
    color: white;
  }
  .footer-msg h4 {
    color: white;
  }
  .footer-msg a {
    font-size: 16px;
    color: white!important;
  }

  .page-title {
    margin: 0 auto;
    padding-top: 90px;
    font-size: 26px;
  }

  .page-header__title-decoration {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
  }

  .page-header__title {
    text-align: center;
    color: rgb(7, 57, 109);
  }


  .news-nav {
    text-align: center;
    padding: 50px 0 40px 0;
  }

  .news-nav-title {
    font-size: 16px;
    font-weight: bold;
  }

  #nav-seleted{
    color: #5FB878 !important;
  }
  .ranking{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 120px;
  }
  table{
    margin: 0 auto;
    padding-top:20px; 
  }
  td{
    text-align: center;
  }
  #ranking-th{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    
  }
  .ranking-img{
    padding-top: 90px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1016px) {
  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 300;
  }

  .logo {
    position: relative;
    right: 1em;
    padding-left: 1em;
  }
  .nav-top{
    display: none;
  }
  .nav-side {
    display: none;
  }

  .nav-side-link {
    height: 60px;
    background-color: #252d38;
  }

  .nav-side-link-btn {
    background-color: #252d38;
    height: 40px;
    width: 40px;
    margin: 10px 0 0 10px;
    border-radius: 8px;
    position: absolute;
    right: 1em;
  }

  .nav-search {
    position: absolute;
    width: 16%;
    right: 10%;
    top: 10px;
  }

  .nav-logo {
    position: absolute;
    left: 26px;
    z-index: 100;
  }

  .nav-logo a {
    color: #B8B9BD;
  }

  .nav-search-btn {
    position: relative;
    left: 100%;
    bottom: 38px;
    margin-left: 10px;
  }

  .layui-carousel {
    height: 1000px;
  }

  .service-part:hover {
    color: #837024;
  }

  .service-img {
    width: 8em;
    height: 8em;
  }

  .false-logo {
    z-index: -100;
  }

  footer {
    height: 200px;
    background-color: #252d38;
    padding-top: 30px;
  }

  .footer-msg {
    text-align: center;
    padding-top: 20px;
  }

  .footer-msg h3 {
    padding: 20px 0;
    color: white;
  }
  .footer-msg h4 {
    color: white;
  }
  .footer-msg a {
    font-size: 16px;
    color: white !important;
  }

  .page-title {
    margin: 0 auto;
    padding-top: 90px;
    font-size: 26px;
  }

  .page-header__title-decoration {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
  }

  .page-header__title {
    text-align: center;
    color: rgb(7, 57, 109);
  }



  .news-nav {
    text-align: center;
    padding: 50px 0 40px 0;
  }

  .news-nav-title {
    font-size: 16px;
    font-weight: bold;
  }

  #nav-seleted {
    color: #5FB878 !important;
  }

  .ranking {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 120px;
  }

  table {
    margin: 0 auto;
    padding-top: 20px;
  }

  td {
    text-align: center;
  }

  #ranking-th {
    text-align: center;
    font-weight: bold;
    font-size: 16px;

  }

  .ranking-img {
    padding-top: 90px;
    display: block;
    margin: 0 auto;
  }
}
