
@media (min-width: 1030.1px) {

  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  body {
    background-color: white;
    font-family:  "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
      sans-serif;
    font-weight: 300;
  }

  .logo {
    position: relative;
    right: 1em;
    padding-left: 1em;
  }
  .nav-top {
    display: block;
  }
  .nav-side {
    display: none;
  }
  .nav-side-link {
    display: none;
  }
  .nav-search {
    position: absolute;
    width: 16%;
    right: 10%;
    top: 10px;
  }

  .nav-logo {
    position: absolute;
    left: 26px;
    z-index: 100;
  }

  .nav-logo a {
    color: #b8b9bd;
  }


  .platfrom-right{
    padding: 90px 0 70px 0;
  }

  .service-part:hover {
    color: #837024;
  }

  .service-img {
    width: 8em;
    height: 8em;
  }

  .false-logo {
    z-index: -100;
  }

  footer {
    height: 200px;
    background-color: #252d38;
    padding-top: 30px;
  }

  .footer-msg {
    text-align: center;
    padding-top: 20px;
  }

  .footer-msg h3 {
    padding: 20px 0;
    color: white;
  }
  .footer-msg h4 {
    color: white;
  }
  .footer-msg a {
    font-size: 16px;
    color: white !important;
  }


  .page-header__title-decoration {
    display: block;
    margin: 0 auto;
    padding-top: 90px;
  }

  .section-head-background {
    background-color: #252d38;
  }

  .page-header__title {
    text-align: center;
    color: rgb(7, 57, 109);
  }

  .news {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid gainsboro;
  }

  .news-nav {
    text-align: center;
    padding: 40px 0 40px 0;
  }

  .news-nav-title {
    font-size: 16px;
    font-weight: bold;
  }

  .news-content {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 10px;
  }

  .news-title {
    font-size: 26px;
    font-weight: 700;
  }

  .news-title a {
    color: rgb(7, 57, 109);
  }

  .news-title a:hover {
    color: #5fb878;
  }

  .meta-author {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  #nav-seleted {
    color: #5fb878 !important;
  }

  

  .cases-title-1 {
    color: #837024;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 36px;
    font-weight: 300;
  }
  .select-type{
    background-color: white;
    height:32px;
    border: 1px solid rgb(203, 203, 203);
    position: relative;
    bottom: 1px;
    border-radius:6px; 

  }
  td,
  th {
    text-align: center !important;
  }
  .search-table {
    padding-bottom: 90px;
  }
  .table-head {
    font-size: 18px !important;
  }
}


@media (max-width: 1030px) {


  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
      sans-serif;
    font-weight: 300;
  }

  .logo {
    position: relative;
    right: 1em;
    padding-left: 1em;
  }
  .nav-top {
    display: none;
  }
  .nav-side {
    display: none;
  }
  .nav-side-link{
    height: 60px;
    background-color: #252d38;
  }
  .nav-side-link-btn{
    background-color: #252d38;
    height: 40px;
    width: 40px;
    margin:10px 0 0 10px; 
    border-radius:8px; 
    position: absolute;
    right: 1em;
  }

  .nav-search {
    position: absolute;
    width: 16%;
    right: 10%;
    top: 10px;
  }

  .nav-logo {
    position: absolute;
    left: 26px;
    z-index: 100;
  }

  .nav-logo a {
    color: #b8b9bd;
  }



  .service-part:hover {
    color: #837024;
  }

  .service-img {
    width: 8em;
    height: 8em;
  }

  .false-logo {
    z-index: -100;
  }

  footer {
    height: 200px;
    background-color: #252d38;
    padding-top: 30px;
  }

  .footer-msg {
    text-align: center;
    padding-top: 20px;
  }

  .footer-msg h3 {
    padding: 20px 0;
    color: white;
  }
  .footer-msg h4 {
    color: white;
  }
  .footer-msg a {
    font-size: 16px;
    color: white !important;
  }



  .page-header__title-decoration {
    display: block;
    margin: 0 auto;
    padding-top: 90px;
  }

  .section-head-background {
    background-color: #252d38;
  }

  .page-header__title {
    text-align: center;
    color: rgb(7, 57, 109);
  }

  .news {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid gainsboro;
  }

  .news-nav {
    text-align: center;
    padding: 40px 0 40px 0;
  }

  .news-nav-title {
    font-size: 16px;
    font-weight: bold;
  }

  .news-content {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 10px;
  }

  .news-title {
    font-size: 26px;
    font-weight: 700;
  }

  .news-title a {
    color: rgb(7, 57, 109);
  }

  .news-title a:hover {
    color: #5fb878;
  }

  .meta-author {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  #nav-seleted {
    color: #5fb878 !important;
  }



  .cases-title-1 {
    color: #837024;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 36px;
    font-weight: 300;
  }
  .select-type{
    background-color: white;
    height:32px;
    border: 1px solid rgb(203, 203, 203);
    position: relative;
    bottom: 1px;
    border-radius:6px; 

  }
  
  td,
  th {
    text-align: center !important;
  }
  .search-table {
    padding-bottom: 90px;
  }
  .table-head {
    font-size: 18px !important;
  }
}


